/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/**** Photo demo ****/

.col {
	width: 32.33%;
	margin: 0.5%;
	float: left;
	display: block;
}

.box {
	display: block;
	overflow: hidden;
	min-height: 200px;
}

.box p {
	margin: 0 0 10px 0;
}


#container {
	margin: 0 auto;
	padding: 0;
	max-width: 1820px;
}

#container2, #container3 {
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}

.photos .photo {
  width: 250px;
  margin: 5px;
  float: left;
  display: block;
  position: relative;
}

.photo:nth-child(3), .photo:nth-child(9), .photo:nth-child(21) {
	width: 510px;
}

.photos .cover {
  width: 240px;
  margin: 5px;
  float: left;
  display: block;
}

.photos .photo img, .photos .cover img {
  display: block;
  width: 100%;
}

.blackbox {
	display:block;
	height: 300px;
}

@media (max-width: 1800px) {
	
	#container {
	max-width: 1560px;
}
}

@media (max-width: 1540px) {
	
	#container {
	max-width: 1300px;
}
}

@media (max-width: 1280px) {
	
	#container {
	max-width: 1040px;
}
}

@media (max-width: 1020px) {
	
	#container, #container2, #container3 {
	max-width: 760px;
}

	.photos .photo, .photos .cover {
  width: 180px;
}

.photo:nth-child(3), .photo:nth-child(9), .photo:nth-child(21) {
	width: 370px;
}

.blackbox {
	height: 230px;
}
}

@media (max-width: 740px) {
	
	#container, #container2, #container3 {
	max-width: 570px;
}
.photo:nth-child(3), .photo:nth-child(9), .photo:nth-child(21) {
	width: 180px;
}
.photo:nth-child(4), .photo:nth-child(10) {
	width: 370px;
}
}

@media (max-width: 585px) {
	
	#container, #container2, #container3 {
	max-width: 380px;
}

	.photos .photo, .photo:nth-child(3), .photo:nth-child(9), .photo:nth-child(21), .photo:nth-child(4), .photo:nth-child(10),  .photos .cover  {
  width: 100%;
  margin: 0.5% 0;
}

.blackbox {
	height: auto;
}

}


